<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Room For Cinema Management</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
  <div th:replace="admin :: headerfiles"></div>

</head>
<body class="bg-theme bg-theme1" >
<div id="wrapper">
  <header th:insert="admin :: header"></header>
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="col-lg-12 ">
      <!--                <div class="col-lg-6">-->
      <!--                    <div class="card">-->
      <div class="card-body" >
        <h1 class="card-title" >Bill Information</h1>
        <button class=" btn btn-light btn-round px-5 btn btn-success nBtn">New</button>
        <div class="table-responsive">
          <table class="table table-hover ">
            <thead>
            <tr>
              <th>Bill ID</th>
              <th>Payment</th>
              <th>User Name</th>
              <th>Create Date</th>
              <th>Bill Total</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody th:each="bill : ${bills}">
            <tr>
              <td class="billID" th:text="${bill.billID}"></td>
              <td th:text="${bill.getPayments.getPaymentName()}"></td>
              <td th:text="${bill.getUsers.getUserName}"></td>
              <td th:text="${bill.createDate}"></td>
              <td th:text="${bill.billTotal}"></td>
              <td class="status" th:if="${bill.status == 2}" >Received</td>
              <td class="status" th:unless="${bill.status == 2}" >Not Received</td>
              <td>
                <a class="btn btn-primary uBtn" th:href="@{/Admin/bill/update/(id=${bill.billID})}" id="save">Status</a>
              </td>
            </tr>
            </tbody>
            
          </table>
          <a class="btn btn-primary " th:href="@{/Admin/bill/export}" >Excel</a>
        </div>
      </div>

    </div>
    <!--                CRUD FORM-->

</div>
</div>
<footer th:insert="admin :: footer"></footer>
</div>

</body>
</html>