.container-fluid .seat-container{
    width: fit-content;
    height: fit-content;
    display: flex;
}
.wrapper{
    display: flex;
    justify-content: center;
}
.seat{
    background-color: #444451 ;
    height: 40px;
    width: 35px;

    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    text-align: center;
}
.row{
    display: flex;
}
.seat.selected{
    background-color:#6feaf6 ;
}
.seat.occupied{
    background-color: #fff;
}
.seat:nth-of-type(2){
    margin-right:18px;
}
.seat:nth-last-of-type(2){
    margin-left:18px;
}
.seat:not(.occupied):hover{
    cursor: pointer;
    transform: scale(1.2);
}
.showcase .seat:not(.occupied):hover{
    cursor: default;
    transform: scale(1);
}
.showcase{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    margin: auto;
    width: 60%;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    justify-content: center;
}
label{
    font-size: 30px;
    width: 30px;
    height: 30px;
}