<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/LoginAndRegister/fonts/material-icon/css/material-design-iconic-font.min.css}">

    <!-- Main css -->
    <link rel="stylesheet" th:href="@{/LoginAndRegister/css/style.css}">
</head>
<body>

    <div class="main">
    <section class="sign-in">
        <div class="container">
                    <div class="signin-content">
                        <div class="signin-image">
                            <figure><img th:src="@{/LoginAndRegister/images/signin-image.jpg}" alt="sing up image"></figure>
                            <a th:href="@{/register}" class="signup-image-link">Create an account</a>
                        </div>
                    <div class="signin-form">
                        <h2 class="form-title">Login</h2>
<!--                        <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">-->
                            <form method="POST" th:action="@{/login}" class="register-form" id="login-form">
                                <div th:if="${param.error}">
                                    <p class="text-danger">Email or Password is incorrect</p>
                                </div>

                                <div th:if="${param.logout}">
                                    <p class="text-warning">You have been logged out.</p>
                                </div>
                                <div class="form-group">
                                    <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="email" name="email" id="your_name" placeholder="Email"/>
                                </div>
                                <div class="form-group">
                                    <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                    <input type="password" name="password" id="your_pass" placeholder="Password"/>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                    <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                                </div>
                                <div class="form-group form-button">
                                    <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                                </div>
                            </form>
<!--                            <div class="social-login">-->
<!--                                <span class="social-label">Or login with</span>-->
<!--                                <ul class="socials">-->
<!--                                    <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>-->
<!--                                    <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>-->
<!--                                    <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>-->
<!--                                </ul>-->
<!--                            </div>-->

                    </div>
                </div>
        </div>
    </section>
    </div>
    <script th:src="@{/LoginAndRegister/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/LoginAndRegister/js/main.js}"></script>
</body>
</html>