<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link th:href="@{/CSS/Schedule.css}" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
    <div th:replace="home :: headerfiles"></div>
    <style>
        hr{
            color: white;
        }
        .card-cinema{
            width: auto;
        }
    </style>
</head>
<body>
    <header th:insert="home :: header" ></header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">
                    <!-- ***** Banner Start ***** -->
                    <div class="main-banner">
                        <label>[[#{app.scheduleTitle}]]</label>
                        <h1 th:if="${lang == null}" class="movie" style="color: white" th:value="${film_detail.filmID}" th:text="${film_detail.filmName}"></h1>
                        <h1 th:if="${lang == 'vi'}" class="movie" style="color: white" th:value="${film_detail.filmID}" th:text="${film_detail.filmName}"></h1>
                        <h1 th:if="${lang == 'en'}" class="movie" style="color: white" th:value="${film_detail.filmID}" th:text="${film_detail.filmName1}"></h1>
                    </div>

                    <div class="most-popular" style="padding: inherit;" >
                        <ul hidden="hidden" class="showcase">
                            <li>
                                <div class="div">
                                    <small>N/A</small>
                                </div>
                            </li>
                            <li>
                                <div class="div selected">
                                    <small>Selected</small>
                                </div>
                            </li>
                            <li>
                                <div class="div occupied">
                                    <small>Occupied</small>
                                </div>
                            </li>
                        </ul>

                        <br />
                        <label class="title">[[#{body.title}]]</label>
                        <br />

                        <div class="row" th:each="cinema : ${film_cinema}"  >
                                <hr style="color: #ec6090; ">
                                <div class="col-lg-12" style="flex-wrap: wrap;">
                                    <div class="heading-section">
                                        <h4 class="div card-cinema cinema" th:if="${lang == 'vi'}" th:text="${cinema.getCinemaName()}" th:value="${cinema.getCinemaID}"></h4>
                                        <h4 class="div card-cinema cinema" th:if="${lang == 'en'}" th:text="${cinema.getCinemaName1()}" th:value="${cinema.getCinemaID}"></h4>
                                        <h4 class="div card-cinema cinema" th:if="${lang == null }" th:text="${cinema.getCinemaName()}" th:value="${cinema.getCinemaID}"></h4>
                                    </div>
                                    <hr>
                                        <div class="col-lg-12 most-popular" style="display: inline-flex;   ">
                                            <div class="row">
                                                <div class="col-lg-3 col-sm-6 schedule-container  " style=" width: 300px; background-color: #0d6efd; " th:each="date : ${film_date}"  >
                                                    <div style="text-align: center;">
                                                        <h2 th:text="${date}" id="date"  ></h2>
                                                    </div>
                                                    <div class=""  style="display: inline-flex; flex-wrap: wrap; "  >
                                                        <div th:each="time : ${schedule}" class="div card-time" th:if="${#dates.format(time.showTime,'dd-MM-yyyy') == date  }" th:text="${#dates.format(time.showTime,'HH:mm:ss')}" th:value="${#dates.format(time.showTime,'HH:mm:ss')}" th:date="${#dates.format(time.showTime,'dd-MM-yyyy HH:mm:ss')}" th:room="${time.getRooms.getRoomID}" style="margin: 5px;" ></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        <div class="main-button" >
                            <a id="btnSeat" type="submit" >Choose Seat</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script type="text/javascript" th:src="@{/JS/Schedule.js}"></script>
    </div>
    <div th:insert="home :: footer"></div>
</body>
</html>
