<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>News</title>
  <div th:replace="home :: headerfiles"></div>
</head>
<body>
<header th:insert=" home::header"></header>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">
        <!-- ***** Banner Start ***** -->
        <div class="main-banner">
          <div class="row">
            <div class="col-lg-7">
              <div class="header-text">
                <h6>Welcome To Dang Cinema</h6>
                <h4><em>NEWS</em> Many Free Discount For ticket Booking</h4>
              </div>
            </div>
          </div>
        </div>
        <!-- ***** Most Popular Start ***** -->
        <div class="most-popular" style="display: flex;">
          <div class="row">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>News</em> On Schedule Right Now</h4>
              </div>
              <div class="row" >
                <div class="col-lg-3 col-sm-6" th:each="film:${news}">
                  <div class="item" style="height: 350px;">
                    <img th:src="${film.image}" alt="">
                    <h4 th:text="${film.newName}">Fortnite</h4>
                    <br>
                    <ul>
                      <li >
                        <i class="fa fa-star" >
                        </i>
                        <a th:text="${film.newName}"></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:insert="home :: footer"></div>
</body>
</html>